.last-citation {
    animation-duration: 3s;
    animation-name: slide;
}

@keyframes slide {
    from {
    margin-right: 100%;
    width: 300%;
    }

    to {
    margin-right: 0%;
    width: 100%;
    }
}
.header {
    display: grid;
    grid-auto-rows: 30px;
}
.navbar{
    grid-column: 6;
    grid-row: 2/3;
}
.logo{
    margin-left: 10%;
    margin-top: 0.6%;
}
.container{
    text-align: center;
    height: max-content;
}
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1%;
    background-color: gray;
    color: white;
    text-align: center;
    
}
.footer{
    vertical-align: middle;
}
header {
    background-color: #fa6607;
    width: 100%;
    height: 100px;
}
.nav-link-active{
    text-decoration:none;
    color:aliceblue;
    font-size: 150%;
    border-style:solid;
    border-width: 1px;
    border-color: white;
    background-color: #292929;
    border-radius: 2px;
    margin-right: 1%;
}
p{
    justify-content: start;
}
a{
    text-decoration: none;
    color: #fa6607
}
body{
    margin: 0;
}
.div-last-citation{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 10%;
    margin-right:10%;
    padding: 1%;
    background-color:antiquewhite;
}
.all-citations{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 10%;
    margin-right:10%;
    padding: 1%;
    background-color:antiquewhite;
    margin-bottom: 2%;
}
.title{
    background-color:#787878;
    color: white;
    margin-top: 0%;
    height: 2em;
    margin-bottom: 4%;
}